<h1>Customer details</h1>
<table>
    <tr>
        <td>Name:</td>
        <td><input type="text"[value]=item.name></td>
    </tr>
    <tr>
        <td>City:</td>
        <td><input type="text"[value]=item.city></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text"[value]=item.address></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="text"[value]=item.email></td>
    </tr>
    <tr>
        <td>Mobile:</td>
        <td><input type="number"[value]=item.mobile></td>
    </tr>
</table>
<a [href]="url">google</a>

